PORT=3000
NODE_ENV=development
MONGO_URI=mongodb+srv://mongourl@gmail.mongodb.net/?appName=Cluster0
JWT_SECRET=Your_Secret_key
JWT_REFRESH_SECRET=Your_Refresh_Secret
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=30d
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=admin-password
CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_API_KEY=your-cloudinary-api-key
CLOUDINARY_API_SECRET=your-cloudinary-api-secret
